/Zaj1Zad2/nbproject/private/
/Zaj1Zad2/build/
/Zaj1Zad3/nbproject/private/
/Zaj1Zad4/nbproject/private/
/Zaj1Zad3/build/
/Zaj1Zad4/build/
/Zaj1Zad4/dist/
/Zaj2Zad1/nbproject/private/
/Zaj2Zad1/build/
/Zaj2Zad2/nbproject/private/
/Zaj2Zad3/nbproject/private/
/Zaj2Zad2/build/